body {
  background-color: rgb(121, 204, 230);
  line-height: 1.5;
  font-size: 16px;
  font-weight: 500;
}

img {
  display: block;
  max-width: 250px;
  height: auto;
}

.input-container {
  text-align: center;
}

.input-container > input {
  margin-left: 15px;
}

.search-input {
  margin-top: 25px;
  margin-bottom: 25px;
}

.grid {
  display: flex;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  justify-content: space-between;
}

.grid-item {
  flex-basis: 250px;
  align-items: center;
}

.country {
  width: 250px;
  margin-right: 25px;
}

.country > h1 {
  text-align: center;
}

.country__item {
  text-align: left;
  padding-left: 0;
}

.country__item > span {
  font-weight: 700;
}

.list {
  padding-left: 0;
}

.list__item {
  margin-left: 35px;
}
